#header {
  width: 100%;
  background-color: rgb(92, 190, 255);
  position: sticky;
  top: 0px;
  border-bottom: 1px solid white;
  color: white;
  z-index: 1000;
}
#header .header-ctn {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-ctn .logo {
  margin: 0px 10px;
  font-size: 2rem;
  font-weight: 500;
}
.header-ctn input {
  width: 500px;
}
.header-ctn .options {
  font-size: 25px;
  display: flex;
  align-items: center;
}
.header-ctn .options div {
  margin: 0px 10px;
  padding: 5px 10px;
  background-color: none;
  transition: 0.3s;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.header-ctn .options div:hover {
  scale: 1.3;
  border-bottom: 2px solid white;
}
