#shop {
  display: flex;
  flex: 1;
  color: rgb(36, 167, 255);
}
#shop .shop-ctn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.shop-ctn .shopinfo {
  width: 400px;
  background-color: rgb(216, 216, 216);
  height: 100%;
}
.shop-ctn .items-ctn {
  flex: 1;
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shop-ctn .items-ctn .title {
  font-size: 2rem;
}
.items {
  margin: 20px 0px;
  display: grid;
  gap: 30px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.items .item {
  border-radius: 5px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.1);
  min-width: 225px;
  min-height: 200px;
  transition: 0.3s;
}
.items .item:hover {
  scale: 1.05;
}
